.table-box {
	width: 500px;  // TODO remove, just a test value
	margin: 20px;
	float: left;
	overflow: hidden;
}

table {
	width: 100%;
		border-collapse: collapse;
	background-color: white;
	margin: 20px 0;
}



th, td, .test-fauxtable-tablecell, .test-fauxtable-header{
	padding: 6px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

th, .test-fauxtable-header {
	font-weight: bold;
	background: darken($container-bg-colour, 3%);
	border-bottom: none;

}

td, .test-fauxtable-tablecell {
	font-size: 1.3rem;
}
tr:nth-child(even), .test-fauxtable-tablerow:nth-child(even), #new-fitness-template #table-container:nth-child(even) {
    background-color: #f9f9f9;
}

.table-title {
	background: $dark-blue-bg;
	padding: 14px 18px 14px 18px;
}


// PSEUDO TABLES FOR TESTS
.test-fauxtable, .template-list-container {
	    display: table;
    border-collapse: collapse;
    width: 100%;
}
.test-fauxtable-tablerow {
	display: table-row;
}

.test-fauxtable-tablecell, .test-fauxtable-header {
	display: table-cell;
}


#table-container input, #table-container select, #date-picker {
	font-family: 'Open Sans', Arial, sans-serif;
	padding: 3px;
	font-size: 1.4rem;
}

#table-container input {
	width: 100px;
}

#table-container {
	margin-top: 30px;
}

#player-name-entry {
	width: 200px;
}

#exercise-dropdown {
	width: 175px;
}

input#category-input {
	font-size: 1.8rem;
	letter-spacing: 1px;
	font-family: 'Questrial', Arial, sans-serif;
	width: 40%;
	line-height: 2.6rem;
	text-transform: uppercase;
	padding: 3px;
}

#new-test-sticky {
	padding: 15px 10px 20px 18px;
	width: inherit;
			border: 1px solid white;

		background: #e7e7e7;
}

.sticky-wrapper {
	width: 100%;
}

#extra-notes {
	padding-top: 20px;
	padding-bottom: 20px;
}

.template-player-name {
	font-size: 1.8rem;
}

.template-exercise-label {
	padding-right: 55px;
}

.sorter {
	cursor: pointer;

}

.sorter:hover {
		color: lighten($main-font-colour, 40%);
}

.settings-form {
	max-width: 550px;
}






.superset-prompt {
	font-size: 1.3rem;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0;
	float: right;
	font-family: 'Open Sans', Arial, sans-serif;
}

#mark-superset {
	width: 30px !important;
	float:right;
}

.exercise-td {
	padding: 0 !important;
}

#new-fitness-template #exercise-dropdown {
	height: 50px;
	font-size: 2.2rem !important;
	font-family: 'Questrial', Arial, sans-serif !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 14px !important;
}

#new-fitness-template #table-container {
	margin-left: -30px;
	margin-top: 0;
	padding: 60px 30px 60px 30px;
	background-color: white;
	border: 1px solid #ccc;
	border-bottom: 5px solid #666677;
}




// PLAYERS

.player-card {
	float: left;
	margin-bottom: 2.5%;
	width: 25%;

	img {
		float: left;
		margin-right: 5px;
	}
}


.player-card-single {
	img {
		float: left;
		margin-right: 10px;
	}

	h2 {
		margin-bottom: 5px;
	}
}
.profile-label, .profile-value {
	display: inline-block;
	font-size: 1.2rem;
}

.profile-label:after {
	content: ":";
}
.player-name, .player-profile-picture, .player-position,  {
	display: block;
}

.player-name {
	font-size: 1.5rem;
	font-weight: bold;
}

.player-card-single {

}

.mac-select {
	-webkit-appearance: none;
	background-image: url(images/mac-arrow.png);
	background-position: right;
	border-radius: none;
}

#search-results-container {
	margin-top: 30px;
}